In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import utils.paths as path

In [2]:
data_dir = path.make_dir_function("data")

In [37]:
(
    pd.read_csv(
    data_dir('raw','raw.csv'),
    delimiter=';',
    names=['DIRECTORIO', 'NRO_ENCUESTA', 'SECUENCIA_ENCUESTA', 'SECUENCIA_P',
    'ORDEN', 'FEX_C','mes_ultimo_unico_robo','municipio','metodo','hora','lugar',
    'celular','efectivo_tarjetas','articulos_de_uso_personal','dispositivos','otro_objeto',
    'arma_fuego','arma_blanca','otros_objetos','fuerza_fisica','drogas_sustancias','hizo_llamada',
    'denuncia','lugar_denuncia','autoridad','razon_denuncia','satisfaccion_atencion',
    'razon_de_satisfaccion','razon_no_denuncia','recuperacion_objeto'
    ],
    header=0
    )

)

,DIRECTORIO,NRO_ENCUESTA,SECUENCIA_ENCUESTA,SECUENCIA_P,ORDEN,FEX_C,mes_ultimo_unico_robo,municipio,metodo,hora,...,drogas_sustancias,hizo_llamada,denuncia,lugar_denuncia,autoridad,razon_denuncia,satisfaccion_atencion,razon_de_satisfaccion,razon_no_denuncia,recuperacion_objeto
0,501448,237,1,1,1,"102,027982509886",1,1,3,4,...,2,2,2,,,,,,8,2
1,501461,237,5,1,5,"894,60417250822",11,1,4,4,...,2,2,2,,,,,,6,2
2,501462,237,3,1,3,"1128,17291484458",11,1,3,3,...,2,2,2,,,,,,1,2
3,501469,237,2,1,2,"937,833352612982",7,1,1,3,...,,1,1,4,,1,,,,2
4,501470,237,2,1,2,"617,006567029324",12,1,3,3,...,2,2,1,3,1,5,1,,,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5130,549721,237,1,1,1,"887,042117212494",12,1,2,1,...,2,2,2,,,,,,1,2
5131,549724,237,1,1,1,"972,496192109141",11,1,4,4,...,2,2,2,,,,,,3,2
5132,549724,237,2,1,2,"972,496192109141",1,1,1,3,...,,2,2,,,,,,3,2
5133,549731,237,3,1,3,"869,805208560913",3,1,4,4,...,2,2,1,3,1,4,1,,,2
5134,549734,237,2,1,2,"79,9014351994262",11,1,3,2,...,2,2,2,,,,,,3,2